LEARNHUB_DB_URL=jdbc:mysql://localhost:3306/learnhub?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
LEARNHUB_DB_USERNAME=learnhub
LEARNHUB_DB_PASSWORD=learnhub
LEARNHUB_REDIS_HOST=localhost
LEARNHUB_REDIS_PORT=6379
LEARNHUB_RABBITMQ_HOST=localhost
LEARNHUB_RABBITMQ_PORT=5672
LEARNHUB_RABBITMQ_USERNAME=learnhub
LEARNHUB_RABBITMQ_PASSWORD=learnhub
LEARNHUB_ES_URIS=http://localhost:9200
LEARNHUB_SEARCH_ALIAS=learnhub-courses-search
LEARNHUB_SEARCH_ANALYZER=ik_max_word
LEARNHUB_SEARCH_SEARCH_ANALYZER=ik_smart
LEARNHUB_SEARCH_SYNC_ENABLED=true
LEARNHUB_SEARCH_SYNC_DELAY=5000
LEARNHUB_SEARCH_SYNC_BATCH_SIZE=100
LEARNHUB_MESSAGING_ENABLED=true
LEARNHUB_SECKILL_MAX_PUBLISH_ATTEMPTS=5
LEARNHUB_SECKILL_CONSUMER_CONFIRMATION_TIMEOUT=PT1M
LEARNHUB_SECKILL_RESERVATION_ORPHAN_TIMEOUT=PT1M
LEARNHUB_SECKILL_RECONCILIATION_ENABLED=true
LEARNHUB_SECKILL_RECONCILIATION_DELAY=10000
LEARNHUB_LIKE_FLUSH_ENABLED=true
LEARNHUB_LIKE_FLUSH_DELAY=5000
LEARNHUB_LIKE_PUBLISH_RETRY_ENABLED=true
LEARNHUB_LIKE_PUBLISH_RETRY_DELAY=5000
LEARNHUB_LIKE_RECONCILIATION_ENABLED=true
LEARNHUB_LIKE_RECONCILIATION_DELAY=3600000
LEARNHUB_OSS_ENABLED=false
LEARNHUB_OSS_REGION=cn-beijing
LEARNHUB_OSS_ENDPOINT=
LEARNHUB_OSS_BUCKET=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
LEARNHUB_LIKE_LEGACY_KEY_MIGRATION_ENABLED=true
LEARNHUB_LIKE_PUBLISHER_CONFIRM_TIMEOUT=10s
